Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceAlumno/UPCNETServiceAlumno.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editAlumno" type="tns:editAlumno" />
  <xs:element name="editAlumnoResponse" type="tns:editAlumnoResponse" />
  <xs:element name="getAlumnoById" type="tns:getAlumnoById" />
  <xs:element name="getAlumnoByIdResponse" type="tns:getAlumnoByIdResponse" />
  <xs:element name="getAlumnos" type="tns:getAlumnos" />
  <xs:element name="getAlumnosResponse" type="tns:getAlumnosResponse" />
  <xs:element name="setAlumno" type="tns:setAlumno" />
  <xs:element name="setAlumnoResponse" type="tns:setAlumnoResponse" />
  <xs:element name="validarLogin" type="tns:validarLogin" />
  <xs:element name="validarLoginAlumno" nillable="true" type="tns:validarLogin" />
  <xs:element name="validarLoginAlumnoResponse" nillable="true" type="tns:validarLoginResponse" />
  <xs:element name="validarLoginResponse" type="tns:validarLoginResponse" />
  <xs:complexType name="validarLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarLoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAlumnoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="editAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editAlumnoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAlumnos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="idAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="idApoderado" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAlumnoById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAlumnoByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>