Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceSeccion/UPCNETServiceSeccion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Services.upcnet.upc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UPCNETServiceSeccion" targetNamespace="http://Services.upcnet.upc.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://davidzilva:8080/UPCNETSystemWebService/UPCNETServiceSeccion?xsd=1" namespace="http://Services.upcnet.upc.com/" />
    </xsd:schema>
  </types>
  <message name="getSeccion">
    <part name="parameters" element="tns:getSeccion" />
  </message>
  <message name="getSeccionResponse">
    <part name="parameters" element="tns:getSeccionResponse" />
  </message>
  <message name="setSeccion">
    <part name="parameters" element="tns:setSeccion" />
  </message>
  <message name="setSeccionResponse">
    <part name="parameters" element="tns:setSeccionResponse" />
  </message>
  <message name="editSeccion">
    <part name="parameters" element="tns:editSeccion" />
  </message>
  <message name="editSeccionResponse">
    <part name="parameters" element="tns:editSeccionResponse" />
  </message>
  <portType name="UPCNETServiceSeccion">
    <operation name="getSeccion">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceSeccion/getSeccionRequest" message="tns:getSeccion" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceSeccion/getSeccionResponse" message="tns:getSeccionResponse" />
    </operation>
    <operation name="setSeccion">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceSeccion/setSeccionRequest" message="tns:setSeccion" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceSeccion/setSeccionResponse" message="tns:setSeccionResponse" />
    </operation>
    <operation name="editSeccion">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceSeccion/editSeccionRequest" message="tns:editSeccion" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceSeccion/editSeccionResponse" message="tns:editSeccionResponse" />
    </operation>
  </portType>
  <binding name="UPCNETServiceSeccionPortBinding" type="tns:UPCNETServiceSeccion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editSeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UPCNETServiceSeccion">
    <port name="UPCNETServiceSeccionPort" binding="tns:UPCNETServiceSeccionPortBinding">
      <soap:address location="http://davidzilva:8080/UPCNETSystemWebService/UPCNETServiceSeccion" />
    </port>
  </service>
</definitions>