Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceSeccion/UPCNETServiceSeccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editSeccion" type="tns:editSeccion" />
  <xs:element name="editSeccionResponse" type="tns:editSeccionResponse" />
  <xs:element name="getSeccion" type="tns:getSeccion" />
  <xs:element name="getSeccionResponse" type="tns:getSeccionResponse" />
  <xs:element name="setSeccion" type="tns:setSeccion" />
  <xs:element name="setSeccionResponse" type="tns:setSeccionResponse" />
  <xs:complexType name="getSeccion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSeccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="delegado" type="xs:string" />
      <xs:element name="ef" type="xs:float" />
      <xs:element name="ep" type="xs:float" />
      <xs:element minOccurs="0" name="idAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="idCurso" type="xs:string" />
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
      <xs:element minOccurs="0" name="idSecclase" type="xs:string" />
      <xs:element minOccurs="0" name="inasistencias" type="xs:string" />
      <xs:element name="pc1" type="xs:float" />
      <xs:element name="pc2" type="xs:float" />
      <xs:element minOccurs="0" name="retirado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setSeccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
      <xs:element minOccurs="0" name="arg10" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setSeccionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="editSeccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
      <xs:element minOccurs="0" name="arg10" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editSeccionResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>