Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceCursoClase/UPCNETServiceCursoClase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Services.upcnet.upc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UPCNETServiceCursoClase" targetNamespace="http://Services.upcnet.upc.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCursoClase?xsd=1" namespace="http://Services.upcnet.upc.com/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="getCursoClases">
    <part name="parameters" element="tns:getCursoClases" />
  </message>
  <message name="getCursoClasesResponse">
    <part name="parameters" element="tns:getCursoClasesResponse" />
  </message>
  <message name="setCursoClase">
    <part name="parameters" element="tns:setCursoClase" />
  </message>
  <message name="setCursoClaseResponse">
    <part name="parameters" element="tns:setCursoClaseResponse" />
  </message>
  <message name="getCursoClaseById">
    <part name="parameters" element="tns:getCursoClaseById" />
  </message>
  <message name="getCursoClaseByIdResponse">
    <part name="parameters" element="tns:getCursoClaseByIdResponse" />
  </message>
  <portType name="UPCNETServiceCursoClase">
    <operation name="hello">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/helloRequest" message="tns:hello" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="getCursoClases">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/getCursoClasesRequest" message="tns:getCursoClases" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/getCursoClasesResponse" message="tns:getCursoClasesResponse" />
    </operation>
    <operation name="setCursoClase">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/setCursoClaseRequest" message="tns:setCursoClase" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/setCursoClaseResponse" message="tns:setCursoClaseResponse" />
    </operation>
    <operation name="getCursoClaseById">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/getCursoClaseByIdRequest" message="tns:getCursoClaseById" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCursoClase/getCursoClaseByIdResponse" message="tns:getCursoClaseByIdResponse" />
    </operation>
  </portType>
  <binding name="UPCNETServiceCursoClasePortBinding" type="tns:UPCNETServiceCursoClase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCursoClases">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setCursoClase">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCursoClaseById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UPCNETServiceCursoClase">
    <port name="UPCNETServiceCursoClasePort" binding="tns:UPCNETServiceCursoClasePortBinding">
      <soap:address location="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCursoClase" />
    </port>
  </service>
</definitions>