Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceProfesor/UPCNETServiceProfesor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editProfesor" type="tns:editProfesor" />
  <xs:element name="editProfesorResponse" type="tns:editProfesorResponse" />
  <xs:element name="getProfesor" type="tns:getProfesor" />
  <xs:element name="getProfesorById" type="tns:getProfesorById" />
  <xs:element name="getProfesorByIdResponse" type="tns:getProfesorByIdResponse" />
  <xs:element name="getProfesorResponse" type="tns:getProfesorResponse" />
  <xs:element name="setProfesor" type="tns:setProfesor" />
  <xs:element name="setProfesorResponse" type="tns:setProfesorResponse" />
  <xs:element name="validarLogin" nillable="true" type="tns:validarLoginApoderado" />
  <xs:element name="validarLoginApoderado" type="tns:validarLoginApoderado" />
  <xs:element name="validarLoginApoderadoResponse" type="tns:validarLoginApoderadoResponse" />
  <xs:element name="validarLoginResponse" nillable="true" type="tns:validarLoginApoderadoResponse" />
  <xs:complexType name="editProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="idProfesor" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
      <xs:element minOccurs="0" name="sueldo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editProfesorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setProfesorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="validarLoginApoderado">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarLoginApoderadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProfesor">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getProfesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProfesorById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProfesorByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>